# Виртуальная среда
venv/
.env/

# Файлы базы данных
*.sqlite3

# Скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные настройки и временные файлы
*.env
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite

# Медиафайлы (если есть)
media/

# PyCharm и IDE
.idea/

# macOS
.DS_Store

# Временные файлы
*.bak
*.swp
*.swo
*~

# Дополнительно (если используете другие инструменты)
*.egg-info/
dist/
build/
*.egg